<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCm6mrtKl1AT6WGRvKdhN5JOSToI1FwN5c</string>
	<key>GCM_SENDER_ID</key>
	<string>971338844182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneymanagement</string>
	<key>PROJECT_ID</key>
	<string>moneymanagement-ceef4</string>
	<key>STORAGE_BUCKET</key>
	<string>moneymanagement-ceef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971338844182:ios:b502e58fa138232c9a0d37</string>
</dict>
</plist>